.nga__brand {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.nga__brand div {
    flex: 1;
    max-width: 150px;
    max-width: 120px;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}