.nga__gpt3 {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: var(--color-footer);
    /*ff3.6+*/
    background: -moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
    /*safari5.1+,chrome10+*/
    background: -webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
    /*opera11.10+*/
    background: -o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
    /*ie10+*/
    background: -ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
    /*global92%+browserssupport*/
    background: radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.nga__gpt3-feature {
    display: flex;
}

.nga__gpt3-feature .nga__gpt3-features-container__feature {
    margin: 0;
}

.nga__gpt3-feature .nga__gpt3-features-container__feature-text {
    max-width: 700px;
}

.nga__gpt3-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 4rem 0 2rem;
}

.nga__gpt3-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    max-width: 510px;
}

.nga__gpt3-heading p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
}

.nga__gpt3-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2rem;
}


/* Customizing feature component as per needs */

.nga__gpt3-container .nga__features-container__feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}


/* Customizing feature component as per needs */

.nga__gpt3-container .nga__features-container_feature-text {
    margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
    .nga__gpt3-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }
    .nga__gpt3-heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {
    /* Customizing feature component as per needs */
    .nga__gpt3-feature .nga__features-container__feature {
        flex-direction: column;
    }
    /* Customizing feature component as per needs */
    .nga__gpt3-feature .nga__features-container_feature-text {
        margin-top: 0.5rem;
    }
    .nga__gpt3-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and (max-width: 350px) {
    /* Customizing feature component as per needs */
    .nga__gpt3-container .nga__features-container__feature {
        margin: 1rem 0;
        min-width: 100%;
    }
}