.nga__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.nga__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nga__navbar-links_logo {
    margin-right: 2rem;
}

.nga__navbar-links_logo img {
    width: 62.65px;
    height: 16.02px;
}

.nga__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.nga__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nga__navbar-links_container p,
.nga__navbar-sign p,
.nga__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0rem 1rem;
    cursor: pointer;
}

.nga__navbar-sign button,
.nga__navbar-menu_container button {
    padding: 1rem 2rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    width: 152px;
    height: 58px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 25px;
    border: 0;
    outline: none;
    cursor: pointer;
}

.nga__navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.nga__navbar-menu svg {
    cursor: pointer;
}

.nga__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.menu {
    display: flex;
}

.nga__navbar-menu_container p {
    margin: 1rem 0rem;
}

.nga__navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1050px) {
    .nga__navbar-links_container {
        display: none;
    }
    .nga__navbar-menu {
        display: flex;
    }
    .menu {
        display: list-item;
    }
}

@media screen and (max-width: 700px) {
    .nga__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .nga__navbar {
        padding: 2rem;
    }
    .nga__navbar-sign {
        display: none;
    }
    .nga__navbar-menu_container {
        top: 20px;
    }
    .nga__navbar-menu_container-links-sign {
        display: block;
    }
}